# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

*.ino

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Visual Micro/Compile.vmps.xml
the_synth_due.cppproj
Visual Micro/Configuration.Debug.vmps.xml
Visual Micro/.the_synth_due.vsarduino.h
Visual Micro/Configuration.Release.vmps.xml
the_synth_due.atsln
the_synth_due.atsuo
*.tmp
Debug/Makefile
Debug/makedep.mk
*.d
